name: lint

on:
  push:
    branches: [main]
  pull_request_target:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.pull_request.number || '0' }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: "pyproject.toml"
          cache: "pip"
      - name: Install dependencies
        run: pip install .[lint]
      - name: Run check
        run: ruff check && ruff format --check && mypy src/main.py
