name: test

on:
  push:
    branches: [main]
  pull_request_target:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.pull_request.number || '0' }}
  cancel-in-progress: true

jobs:
  e2e:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    env:
      DISPLAY: ":99.0"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: "pyproject.toml"
          cache: "pip"
      - uses: tlambert03/setup-qt-libs@19e4ef2d781d81f5f067182e228b54ec90d23b76 # v1.8.0
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt-get install pulseaudio -y
      - name: Install dependencies
        run: pip install .[test]
      - name: Run PyTests
        run: pytest
